*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e6e358;
}
.container{
    width: 45%;
    height: 50%;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}
.tools-area{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 0px;
}
.tools{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.tools .color {
    display: flex;
    align-items: center;
}
input[type = "color"]{
    border: none;
    width: 1.4rem;
    height: 1rem;
    background-color: transparent;
    cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}
input[type="color"]::webkit-color-swatch{
    border: 2px solid lightgrey;
}
label,i{
    margin: 0 3px;
    cursor: pointer;
}
.buttons button {
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.buttons .save {
    background: #4a98f7;
    color: #fff;
}
.buttons .clear:hover{
    background-color: lightgrey;
}
.draw-area canvas {
    width: 100%;
    height: 450px;
    border-radius: 0 0 10px;
}
.active{
    color: #4a98f7;
}
.notactive{
    pointer-events: none;
}


@media only screen and (max-width: 1010px) {
    .container{
        width: 65%;
        height: 50%;
        background: #fff;
        border-radius: 10px;
        box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
    }
    
}
@media only screen and (max-width: 700px) {
    .container{
        width: 90%;
        height: 50%;
        background: #fff;
        border-radius: 10px;
        box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
    }
    
}
@media only screen and (max-width: 504px) {
    .buttons .save , .buttons .clear{
        font-size: 12px;
        display: block !important;
    }
    
    
}
@media only screen and (max-width: 395px) {
    .container{
        width: 100%;
        height: 50%;
        background: #fff;
        border-radius: 10px;
        box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
    }
    
}
